<!DOCTYPE html>
    <head>
        <meta charset="utf-8"/>
        <title>Testing autocomplete app</title>
    </head>
    <body>
        <h1>In-App Test</h1>
        <p>
            <textarea id="input_corpus" placeholder="input corpus" rows="4" cols="50"></textarea>
            <br>
            <button type="button" id="input_corpus_btn">train</button>
        </p>
        
        <p>
            <input type="text" placeholder="type word and hit complete"/>
            <button id="drop_db" type="button">Complete</button>
        </p>
        <script src="static/index.js"></script>
    </body>
</html>